In [9]:
#################################################
#  Company    : Stevens Institute of Technology
#  Project    : Midterm
#  Purpose    : To use the Gaussian knn methodology
#  First Name : Spruha
#  Last Name  : Paradkar
#  Id		  : 10470967
#  Date       : 11/07/2023
#  Comments   : I pledge my honor that I have abided by the Stevens Honor System
#################################################

In [10]:
print('BTW, there is a typo - Smoker is Somker, I am not changing it')
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

BTW, there is a typo - Smoker is Somker, I am not changing it

In [11]:
print('Loading the bp dataset')
bp = pd.read_csv('/Users/spruhap/Desktop/School/Fall23/CS513/midterm/BP.csv')
bp.head(10)

Loading the bp dataset

          Somker  Gender  Age  Height  Weight BP_Status
0  1- Non-smoker  Female   29   62.50     140    Normal
1  1- Non-smoker  Female   41   59.75     194      High
2    3- Moderate  Female   57   62.25     132      High
3  1- Non-smoker  Female   39   65.75     158    Normal
4  1- Non-smoker  Female   58   61.75     131      High
5    3- Moderate  Female   36   64.75     136    Normal
6  1- Non-smoker    Male   53   65.50     130    Normal
7  1- Non-smoker    Male   35   71.00     194    Normal
8       2- Light    Male   52   62.50     129    Normal
9  5- Very Heavy    Male   39   66.25     179    Normal

In [12]:
print('Replacing the string values for Smoker and Gender with int values')
bp = bp.astype('category')
bp['Somker'] = bp['Somker'].cat.codes
bp['Gender'] = bp['Gender'].map({'Male': 1, 'Female': 0})

Replacing the string values for Smoker and Gender with int values

In [13]:
print('Creating a data frame called target for the BP_Status variable')
target = bp['BP_Status'] # target variable
target.head(10)

Creating a data frame called target for the BP_Status variable

0    Normal
1      High
2      High
3    Normal
4      High
5    Normal
6    Normal
7    Normal
8    Normal
9    Normal
Name: BP_Status, dtype: category
Categories (2, object): ['High', 'Normal']

In [14]:
print('Dropping the BP_Status field')
# Splitting the dataset
attributes = bp.drop('BP_Status', axis=1)
attributes.head(10)

Dropping the BP_Status field

   Somker Gender Age Height Weight
0       0      0  29  62.50    140
1       0      0  41  59.75    194
2       2      0  57  62.25    132
3       0      0  39  65.75    158
4       0      0  58  61.75    131
5       2      0  36  64.75    136
6       0      1  53  65.50    130
7       0      1  35  71.00    194
8       1      1  52  62.50    129
9       4      1  39  66.25    179

In [15]:
from sklearn.preprocessing import MinMaxScaler
# Initialize MinMaxScaler
scaler = MinMaxScaler()
# Fit and transform the data - because the data is from diff units of mesurements 
attributes = pd.DataFrame(scaler.fit_transform(attributes), columns=attributes.columns)
attributes.head()

   Somker  Gender       Age  Height    Weight
0     0.0     0.0  0.000000    0.44  0.313305
1     0.0     0.0  0.363636    0.33  0.545064
2     0.5     0.0  0.848485    0.43  0.278970
3     0.0     0.0  0.303030    0.57  0.390558
4     0.0     0.0  0.878788    0.41  0.274678

In [16]:
print('Dividing the data into test and train data given the 30/70 split ratio')
#RANDOM_STATE helps to keep the data consistent -> it keeps the values consistent when you run the code again
attribute_train, attribute_test, target_train,target_test  = train_test_split(attributes, target,test_size = 0.3, random_state = 87, shuffle = True)

Dividing the data into test and train data given the 30/70 split ratio

In [18]:
print('Assuming k=2 based on problem 3')
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print('Doing the classification for k = 2')
print()
k = 2
#creates a default model with the no of neighbors you want
knn = KNeighborsClassifier(n_neighbors = k)

#this fits the data -> actually runs the classifier and fits the data actually
knn.fit(attribute_train, target_train)

#prediciting given the values from the non target variables
target_pred = knn.predict(attribute_test)

cm = confusion_matrix(target_test, target_pred)
print('Confusion Matrix for k = 2')
print(confusion_matrix(target_test, target_pred))
print()

print('Accuracy score for k = 2')
print(accuracy_score(target_test, target_pred))
print()

print('Classification Report for k = 2')
print(classification_report(target_test, target_pred))

Assuming k=2 based on problem 3
Doing the classification for k = 2

Confusion Matrix for k = 2
[[519 148]
 [424 230]]

Accuracy score for k = 2
0.566994700984103

Classification Report for k = 2
              precision    recall  f1-score   support

        High       0.55      0.78      0.64       667
      Normal       0.61      0.35      0.45       654

    accuracy                           0.57      1321
   macro avg       0.58      0.56      0.55      1321
weighted avg       0.58      0.57      0.55      1321